<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Durio scan</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<!-- bg-body-home  -->

<body class="index-bg container-fluid">
    <!-- Masthead-->
    <header class="row border-bottom-custom">
        <div class="col-12 my-3 d-flex flex-row align-items-center">
            <!-- <div class="col-12 col-md-4"> -->
            <div class="col-2 col-md-2">
                <img class="logo-size" src="/assets/img/pngwing.png" alt="logo">
            </div>
            <div class="col-4 col-md-2 fs-4 text-start">
                <h3 class="text-index-green font-logo">Welcome to</h3>
                <h1 class="font-logo">Durio Scan</h1>
            </div>
            <!-- </div> -->
            <div class="col-6 col-md-8">
                <img class="img-header rounded-4" src="/assets/img/durio-header.png" alt="header-img">
            </div>
        </div>
    </header>
    <div class="pt-5">
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <section class="features-icons text-center box-home col-8">
                    <div class="row align-items-center justify-content-center dashed-home position-relative">
                        <div
                            class="features-icons-icon rounded-circle bg-color-button px-4 py-2 position-absolute top-0 start-50 translate-middle col-auto">
                            <i class="bi-images m-auto text-white icon-big"></i>
                        </div>
                        <div class="position-absolute top-100 start-100 translate-middle">
                        </div>
                        <form class="my-5" id="uploadForm" action="/result" method="POST">
                            <!-- <div class='container-fluid d-flex justify-content-center'>
                            <div class='d-flex align-items-center justify-content-center box-home'>
                                <div class='d-flex align-items-start justify-content-center dashed-home'>
                                    <img class="image-home"
                                        src='https://animals.sandiegozoo.org/sites/default/files/2016-11/animals_hero_giraffe_1_0.jpg'>
                                </div>
                            </div>
                        </div> -->
                            <div class="col-12 pt-5" onclick="myFunction()">
                                <div class="row align-items-center">
                                    <div
                                        class="features-icons-item mx-auto pointer rounded-pill bg-light col-md-7 col-12">
                                        <!-- <div class="features-icons-icon d-flex"><i class="bi-hr m-auto text-color-blue"></i>
                                    </div> -->
                                        <!-- <div class="col-auto"> -->
                                        <div class="d-flex py-3">
                                            <!-- <div class="features-icons-icon rounded-circle bg-color-button px-4 d-flex">
                                            <i class="bi-images m-auto text-white"></i>
                                        </div> -->
                                            <div class="row align-items-center justify-content-center w-100">
                                                <h3 class="px-3 my-0 py-0 text-white">FILE UPLOAD</h3>
                                            </div>
                                        </div>
                                        <!-- </div> -->
                                        <!-- <p class="lead mb-0">This theme will look great on any device, no matter the size!
                                    </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 py-3" id="chooseFile">
                                <!-- <div class="row align-items-center">
                                    <div
                                        class="features-icons-item mx-auto pointer rounded-pill bg-light col-md-7 col-12">

                                        <div class="py-3 px-3">
                                            <input class="form-control" type="file" id="fileInput" name="file"
                                                accept="image/png, image/jpg, image/jpeg, image/webp, image/svg"
                                                required>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <button class="col-12 btn px-0 pt-0" id="autoPadding" type="submit">
                                <div class="row align-items-center">
                                    <div
                                        class="features-icons-item mx-auto pointer rounded-pill bg-light col-md-7 col-12">
                                        <div class="d-flex py-3">
                                            <!-- <div class="features-icons-icon rounded-circle bg-color-button px-4 d-flex">
                                            <i class="bi-search m-auto text-white"></i>
                                        </div> -->
                                            <div class="row align-items-center justify-content-center w-100">
                                                <h3 class="px-3 my-0 py-0 text-white">SEARCH</h3>
                                            </div>
                                        </div>
                                        <!-- <p class="lead mb-0">Ready to use with your own content, or customize the source
                                        files!</p> -->
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script type="text/javascript">
        document.getElementById("chooseFile").style.display = "none";
        document.getElementById("autoPadding").classList.add('pt-5')
        // $(document).ready(function () {
        //     $("#chooseFile").hide();
        // });
        function blobToDataURL(blob) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.onloadend = () => resolve(reader.result);
                reader.onerror = reject;
                reader.readAsDataURL(blob);
            });
        }

        function myFunction() {
            var x = document.getElementById("chooseFile");
            if (x.style.display === "none") {
                x.innerHTML += `
                <div class="row align-items-center">
                    <div class="features-icons-item mx-auto pointer rounded-pill bg-light col-md-7 col-12">
                        <div class="py-3 px-3">
                            <input class="form-control" type="file" id="fileInput" name="file" accept="image/png, image/jpg, image/jpeg, image/webp, image/svg" required>
                        </div>
                    </div>
                </div>`
                x.style.display = "block";
                document.getElementById("autoPadding").classList.remove('pt-5')
            } else {
                x.style.display = "none";
                x.innerHTML = "";
                document.getElementById("autoPadding").classList.add('pt-5')
            }
        }

        document.getElementById('uploadForm').addEventListener('submit', async function (event) {
            event.preventDefault(); // Prevent the default form submission

            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (file) {
                const formData = new FormData();
                formData.append('file', file);

                // Send the file to the POST API endpoint
                await fetch('http://localhost:8001/img_object_detection_to_img', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.arrayBuffer()) // Assuming the response is in JSON
                    .then(buffer => {
                        console.log('====================================');
                        console.log("arrayBuffer", buffer);
                        console.log('====================================');
                        // const dataURL = URL.createObjectURL(new Blob([arrayBuffer], { type: 'image/png' }));;
                        // console.log('dataURL', dataURL)
                        var base64Flag = 'data:image/jpeg;base64,';
                        var binary = '';
                        var bytes = [].slice.call(new Uint8Array(buffer));

                        bytes.forEach((b) => binary += String.fromCharCode(b));

                        localStorage.setItem('responseImage', `${base64Flag}${window.btoa(binary)}`);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        // Handle the error, e.g., show a message to the user
                    });
                await fetch('http://localhost:8001/img_object_detection_to_json', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json()) // Assuming the response is in JSON
                    .then(dataJson => {
                        console.log('Success dataJson:', dataJson);
                        localStorage.setItem('responseJson', JSON.stringify(dataJson));
                        // Redirect or handle the response
                        window.location.href = '/result';
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        // Handle the error, e.g., show a message to the user
                    });
            } else {
                alert('Please select a file.');
            }
        });
    </script>
</body>

</html>